*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e9e9e9;
}

.container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    padding: 40px 20px 60px;
    background: linear-gradient(30deg, rgb(77, 117, 151), rgb(119, 194, 255));
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgb(167, 167, 167);
    gap: 20px;
}

.container>div{
    display: flex;
}

.header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0303031e;
    color: #353535;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    z-index: 3;
}



.header p{
    font-size: .8rem;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    color: #fff;
    z-index: 3;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff83;
    color: #e9e9e9;
}

.tab h3 {
    font-size: 2rem;
}

.tab span{
    font-size: .9rem;
    font-weight: 100;
    color: #353535;
}

.float-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff46;
    z-index: 1;
    animation: float 3s infinite linear alternate;
}
.float-box2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff46;
    z-index: 1;
    animation: float2 3s infinite linear alternate;
}

@keyframes float {
    0%{
        top: -10px;
    }
    30%{
        right: -20px;
    }
    50%{
        top: 10px;
    }
    80%{
        right: 20px;
    }
    100%{
        top: -10px;;
    }
    
}

@keyframes float2 {
    0%{
        bottom: -10px;
    }
    30%{
        left: -20px;
    }
    50%{
        bottom: 10px;
    }
    80%{
        left: 20px;
    }
    100%{
        bottom: -10px;
    }
    
}